<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Employee Records</title>
</head>
<body>

<h1>Tontine Engineering Co.</h1>

<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->

<br>
<br>
<br>
<div>
    <img id="engineer_image" src="https://openclipart.org/download/281179/oldstyleengineers.svg" alt="engineers engineering">
</div>

</body>
</html>